<!DOCTYPE html>
<html>
<head>
<h1>PEEPS!</h1>
<ul>
<% @chitterweb.each do |peep| %> 
    <li><%= peep.peep %></h2> <h6>Posted on: <%= Date.strptime(peep.timestamp) %></h6></li>
  <% end %>
</ul>
</head> 
</html>
