<html>
<body>
<form action="/users" method="post">
  <input class="text-field" type="email" name="email" placeholder="Email"  />
   <input class="text-field" type="text" name="username" placeholder="Username"  />
  <input class="text-field" type="password" name="password" placeholder="Password"  />
  <input class="real-button" type="submit" value="Submit" />
</form>
</body>
</html>

